fastapi
uvicorn
python-multipart
pillow
numpy<2
opencv-python-headless

# CPU-only PyTorch (VERY IMPORTANT)
torch==2.1.2+cpu
torchvision==0.16.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

transformers
safetensors
